<div class="header">
    <h2>Laboratorios</h2>
    <div class="filter-section">
        <div class="filter-group">
            <label for="identificacion">Id</label>
            <input id="identificacion" type="text" placeholder="Identificación">
          </div>     
          <div class="filter-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" placeholder="Nombre">
          </div>
        </div>
        <div class="buttons">
          <button class="btn filtrar">Filtrar</button>
          <button class="btn agregar" (click)="create()">Agregar</button>
        </div>
    </div>    
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Nombre</th>                
          <th>Compañía</th>
          <th>Fecha Creación</th>
        </tr>
      </thead>
      <tbody *ngIf="Labs.length">
        <tr *ngFor="let value of Labs; let indice = index;">
          <td><img class="img-table" src="./../../../assets/img/editar.png" (click)="rediretdetalle(indice)" /></td>
          <td>{{ value.id }}</td>
          <td>{{ value.nombre }}</td>               
          <td>{{ value.idCompania }}</td>
          <td>{{ value.fecha_log }}</td>
        </tr>
      </tbody>
    </table>
  </div> 