<div>
  <div class="form">    
    <div class="header">
      <h2>Orden</h2>        
      <div class="btns">
        <button *ngIf="idROrden" (click)="onDelete()" class="btn eliminar">Eliminar</button>
        <button class="{{ idROrden ? 'btn actualizar' : 'btn agregar' }}" (click)="onSubmit()">{{ idROrden ? 'Actualizar' : 'Agregar' }}</button>
      </div>
    </div>

    <form [formGroup]="Form">
      <div class="general-info">
        <div>
          <label>Responsable</label>
          <select formControlName="idUsuario" id="Responsable" name="Responsable">
            <option *ngFor="let supervisor of supervisores" [value]="supervisor.id">{{ supervisor.nombre }}</option>
          </select>
        </div> 
        <div>
          <label>Tipo de orden</label>
          <select formControlName="idOrden" id="Orden" name="Orden">
            <option *ngFor="let orden of ordenes" [value]="orden.id">{{ orden.nombre }}</option>
          </select>
        </div>
      </div>       
    </form>
    <button *ngIf="!idROrden" (click)="updateCamp()" class="btn agregar">Pre-cargar</button>
  </div>

  <div id="inputs-variable">
    <form [formGroup]="CampoForm" *ngIf="formReady">
      <div class="form-grid">
        <div *ngFor="let campo of campos" class="input-group">
          <label class="input-label">{{ campo.nombre }}</label>
          <input class="input-field" [formControlName]="campo.id" />
        </div>
      </div>
    </form>
  </div>
</div>

<div class="etapas">
  <div class="h-table">
    <h2>Etapa</h2>
    <div class="btns">      
      <button class="btn eliminar"  >Retroceder</button>
      <button class="btn agregar" (click)="createEtapa()" >Avanzar</button>
    </div>
  </div>

  <div class="timeline">
    <div *ngFor="let etapa of Etapas; let i = index" class="timeline-stage">
      <!-- Círculo convertido en botón con color condicional -->
       <div [ngClass]="{'circle-completed': etapa.nEtapa <= etapaActual, 'circle-pending': etapa.nEtapa > etapaActual}" >
      <button class="etapa-button" (click)="onEtapaClick(etapa.id)" >
        <!-- Información de la etapa en el botón -->
        <div class="stage-info">        
          <h4>{{ etapa.nombre }}</h4>
          <p>Etapa {{ etapa.nEtapa }}</p>        
        </div> 
      </button>
    </div>

      
      <!-- Línea entre etapas con color condicional
      <div *ngIf="i < Etapas.length - 1" 
           [ngClass]="{'line-completed': etapa.nEtapa <= etapaActual, 'line-pending': etapa.nEtapa > etapaActual}">
      </div> -->
    </div>
  </div>
    
</div>


<div class="h-table">
  <h2>Productos</h2>
<button class="btn agregar" (click)="createP()">Agregar</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Responsable</th>                
        <th>Id Orden</th>
        <th>Fecha Creación</th>
      </tr>
    </thead>
    <tbody *ngIf="productos.length">
      <tr *ngFor="let value of productos; let indice = index;">
        <td><img class="img-table" src="./../../../assets/img/editar.png" (click)="rediretdetalleP(indice)" /></td>
        <td>{{ value.id }}</td>
        <td>{{ value.idUsuario }}</td>               
        <td>{{ value.idRegisOrden }}</td>
        <td>{{ value.fecha_log }}</td>
      </tr>
    </tbody>
  </table>
</div> 
