<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input id="usuario" formControlName="usuario" type="text" />
      </div>
  
      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input id="contrasena" formControlName="contrasenia" type="password" />
      </div>
  
      <div class="form-group">
        <label for="confirmarContrasena">Confirmar contraseña</label>
        <input id="confirmarContrasena" formControlName="confirmarContrasena" type="password" />
      </div>
  
      <button type="submit">Guardar</button>
    </form>
  </div>
