<main>    
    <section>
        <div class="contenedor_tabla">
          <h2>Companias</h2>
          <table>
            <thead>
              <tr>
                <td id="#index">Num</td>
                <td>ID</td>
                <td>Proceso</td>
                <td>Producto</td>
                <td>Fecha de Proceso</td>
                <td>Fecha de solicitud</td>
                <td></td>
              </tr>
            </thead>
            <tbody *ngIf="datos_Companias.length">
              <tr *ngFor="let datos of datos_Companias; let indice = index;">
                <td id="#index">{{indice+1}}</td>
                <td>{{datos.Id}}</td>
                <td>{{datos.compania}}</td>
                <td>{{datos.numeroDeUsuarios}}</td>
                <td>{{datos.nOrdenesRegis}}</td>
                <td>{{datos.nProductosRegis}}</td>
                <td>{{datos.fecha_log}}</td>                
              </tr>
            </tbody>
          </table>
        </div>
      </section>
</main>