<main>    
    <section>      
        <div class="table-container">
          <div class="header">
            <h2>Compañías</h2>
            <button class="add-button" (click)="createCompania()">Agregar</button>
          </div>
          <table>
            <thead>
              <tr>  
                <th></th>              
                <th>Nombre</th>
                <th>N.Usuarios</th>
                <th>N.Poyectos</th>
                <th>N.Ordenes</th>
                <th>N.Productos</th>                
                <th>F Creación</th>
              </tr>
            </thead>
            <tbody *ngIf="datos_Companias.length">              
              <tr *ngFor="let datos of datos_Companias; let indice = index;"> 
                <td><img class="img-table" src="./../../../assets/img/editar.png" (click)="redirecCompaniadetalle(indice)" /></td>          
                <td>{{datos.compania}}</td>
                <td>{{datos.numeroDeUsuarios}}</td>
                <td>{{datos.NumeroProyectos}}</td>
                <td>{{datos.nOrdenesRegis}}</td>
                <td>{{datos.nProductosRegis}}</td>
                <td>{{datos.fecha_log  }}</td>                
              </tr>
            </tbody>
          </table>
        </div>
      </section>
</main>