<div class="header">
    <h2>Procesos</h2>

    <div class="filter-section">
      <div class="filter-group">
        <label for="identificacion">Id</label>
        <input id="identificacion" type="text" placeholder="Identificación">
      </div>     
      <div class="filter-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" placeholder="Nombre">
      </div>
    </div>  
    <div class="buttons">
      <button class="filter">Filtrar</button>
      <button class="add" (click)="createProceso()">Agregar</button>
    </div>
  </div>

  <div class="users-table">
    <table>
      <thead>
        <tr>
          <th></th> 
          <th>Id</th>
          <th>Nombre</th>
          <th>Compañía</th>
          <th>Fecha creación</th>
        </tr>
      </thead>
      <tbody *ngIf="Procesos.length">
        <tr *ngFor="let proceso of Procesos; let indice = index;">
          <td><img class="img-table" src="./../../../assets/img/editar.png" (click)="redireProcesodetalle(indice)" /></td>
          <td>{{ proceso.id }}</td>
          <td>{{ proceso.nombre }}</td>
          <td>{{ proceso.idCompania }}</td>        
          <td>{{ proceso.fecha_log }}</td>
        </tr>
      </tbody>
    </table>
  </div>