<main>
  <section>
    <div class="nombre-app"></div>
    <form
      [formGroup]="myformulario"
      (ngSubmit)="submitFormulario()"
      class="formulario"
    >
      <div>
        <label>Usuario:</label>
        <input
          formControlName="Usuario"
          type="text"
          placeholder="Usuario"
          name="usuario"
          required
        />
      </div>
      <div>
        <label>Contraseña:</label>
        <input
          formControlName="Contrasenia"
          type="password"
          placeholder="*****************"
          name="password"
          required
        />
      </div>
      <div class="buttom-contenedor">
        <button type="submit">Ingresar</button>
      </div>
    </form>
  </section>
  <div class="footer"></div>
</main>
