<main>
  <app-nav-menu [IdCompania]="IdCompania" [routes]="navRoutes"></app-nav-menu>   
  <div class="dashboard">
    <div class="header">
      <h2 class="title">Generales</h2>
      <div class="btns">          
        <button *ngIf="IdCompania" class="btn eliminar" (click)="delete_compania()">Eliminar</button>
        <button class="{{ IdCompania ? 'btn actualizar' : 'btn agregar' }}" (click)="onSubmit()">{{ IdCompania? 'Actualizar' : 'agregar' }}</button>               
      </div>      
    </div>  
    <div class="general-info"> 
      <form [formGroup]="CompaniaForm" (ngSubmit)="onSubmit()">
        <div>
          <label>Nombre</label>
          <input formControlName="nombre" type="text" class="custom-input" />
        </div>
        <div>
          <label>Ciudad</label>
          <input formControlName="ciudad" type="text" class="custom-input" />
        </div>
        <div>
          <label>Dirección</label>
          <input formControlName="direccion" type="text" class="custom-input" />
        </div>
        <div>
          <label>NIT</label>
          <input formControlName="nit" type="text" class="custom-input" />
        </div>
        <div>
          <label>Sector</label>
          <input formControlName="sector" type="text" class="custom-input"/>
        </div>
      </form>      
    </div>  
  
    <div class="sections">
      <div class="section">
        <h3>Productos</h3>
        <button class="btn agregar" (click)="createProduct()">Agregar</button>
        <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>            
            <th>Fecha Creación</th>
            <th>Acciones</th>
          </tr>
          <tr *ngFor="let producto of productos; let indice = index;">
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>            
            <td>{{ producto.fecha_log }}</td>
            <td>
              <button class="btn editar" (click)="rediretProduct(indice)">✏️</button>              
            </td>
          </tr>
        </table>
      </div>
  
      <div class="section">
        <h3>Proyectos</h3>
        <button class="btn agregar" (click)="createLab()">Agregar</button>
        <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
          <tr *ngFor="let proyect of proyecto; let indice = index;">
            <td>{{ proyect.id }}</td>
            <td>{{ proyect.nombre }}</td>
            <td>
              <button class="btn editar" (click)="rediretLab(indice)">✏️</button>              
            </td>
          </tr>
        </table>
      </div>
  
      <div class="section">
        <h3>Procesos</h3>
        <button class="btn agregar" (click)="createProceso()">Agregar</button>
        <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>           
            <th>Fecha Creación</th>
            <th>Acciones</th>
          </tr>
          <tr *ngFor="let proceso of procesos; let indice = index;">
            <td>{{ proceso.id }}</td>
            <td>{{ proceso.nombre }}</td>            
            <td>{{ proceso.fecha_log }}</td>
            <td>
              <button class="btn editar" (click)="rediretProceso(indice)">✏️</button>              
            </td>
          </tr>
        </table>
      </div>
  
      <div class="section">
        <h3>Ordenes</h3>
        <button class="btn agregar" (click)="createOrden()">Agregar</button>
        <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
          <tr *ngFor="let orden of ordenes; let indice = index;">
            <td>{{ orden.id }}</td>
            <td>{{ orden.nombre }}</td>
            <td>
              <button class="btn editar" (click)="rediretOrden(indice)">✏️</button>              
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>  
