
<div>
    <div class="form">    
    <div class="header">
        <h2>Tipo de orden</h2>        
        <div class="btns">
        <button *ngIf="idTipoOrden" (click)="onDelete()" class="btn eliminar">Eliminar</button>
        <button class="{{ idTipoOrden ? 'btn actualizar' : 'btn agregar' }}" (click)="onSubmit()">{{ idTipoOrden? 'Actualizar' : 'agregar' }}</button>
    </div>
      </div>
    <form [formGroup]="Form" >
    <div class="general-info">
      <div>
        <label>Nombre</label>
        <input formControlName="nombre" />
      </div>  
      <div>
        <label>Descripcion</label>
        <input formControlName="descripcion" />
      </div>          
    </div>       
    </form>
    </div>
</div>

